footer{
    display: grid;
    grid-template-columns: 1fr 300px 300px;
    background-color: #304163;
}
.sponsors-loga{
    display: grid;
    grid-template-columns: 1fr 1fr;    
    justify-self: center;
    align-self: center;
    gap: 20px;
    overflow: hidden;
}
.sponsors-loga img{
    width: 140px;
}
.junak img{
    max-width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
footer p{
    font-size: 1em;
    font-family: "TheMix-SemiLight";
    color: #8BA8C2;
    margin: 5px;
    padding: 0;
}
footer h5{
    font-size: 1em;
    font-family: "TheMix-Bold";
    color: #8BA8C2;
    margin: 5px;
    padding: 0;
}
@media (max-width: 790px) {
    footer{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 300px 300px;
        background-color: #304163;
    }
}