/* funguje do 730 px DESKOP only */
h1 {
    font-family: "Skaut-Bold";
    font-size: 1.25em;
	text-align: center;
	color: #8BA8C2;
    margin: 0;
    padding: 0;
}	
h2 {
    font-family: "TheMix-Bold";
    font-size: 0.5em;
    text-align: center;
    color: #8BA8C2;
    margin: 0;
    padding: 0;
}
a {
    font-family: "TheMix-Bold";
	color: #8BA8C2;
}
nav {
    border: #304163 solid 1px;
    border-radius: 10px;
	background-color: #304163;
}

nav ul {
	padding: 0;
    margin: 0;
	list-style: none;
	position: relative;
	}
	
nav ul li {
	display:inline-block;
	}

nav a {
	display:block;
	padding:0 10px;	
	color:#FFF;
	font-size:20px;
	line-height: 60px;
	text-decoration:none;
}

nav a:hover { 
	background-color: #000000; 
}

/* Hide Dropdowns by Default */
nav ul ul {
	display: none;
	position: absolute; 
	top: 60px; /* the height of the main nav */
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}

/* Second, Third and more Tiers	*/
nav ul ul ul li {
	position: relative;
	top:-60px; 
	left:170px;
}
img{
    position: relative;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    width: 50px;
    height: 50px;
}
a[href="index.html"]{
    gap : 10px;
    display: flex;
    flex-direction: row;
}
.text-u-loga{
    position: relative;
    top: 50%;
}
.text-u-loga > h1{
    display: flex;
    align-items: baseline;
    margin: 0 0 -35px 0;
}
.text-u-loga > h2{
    display: flex;
    align-items: baseline;
}
nav > ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}
