menu{
    display: flex;
    flex-direction: row;
    list-style: none;
    background-color: #304163;
}
menu li ul{
    display: none;
    list-style: none;
}
menu li:hover ul{
    display: flex;
    flex-direction: column;
    padding-left:0;
}
h1{
    font-family: "Skaut-Bold";
}
h2{
    font-family: "TheMix-Bold";
}
a{
    font-family: "TheMix-Bold";
}